@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: "Poppins", sans-serif; */
  color: #000000;
}

.btn {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-primary {
  background: #fff;
  color: #111;
}

.btn-primary:hover {
  background: #eaeaea;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #fff;
  color: #272727;
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.15);
}
